@{
    ViewData["Title"] = "Orders";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
}
@section css{
    <link href="~/newtemplate/assets/plugins/magnific-popup-master/dist/magnific-popup.css" rel="stylesheet" />
    <link href="~/newtemplate/assets/plugins/icheck/skins/all.css" rel="stylesheet" />
    <link href="~/newtemplate/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}

<!-- Row -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">New Order</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="skin skin-square">
                            <div class="form-group">
                                <label>Jenis : </label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioIce" name="radioType" data-radio="iradio_square-red" value="1">
                                        <label for="radioIce">Ice</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input tabindex="8" type="radio" class="check" id="radioHot" name="radioType" data-radio="iradio_square-red" value="2">
                                        <label for="radioHot">Hot</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Cup : </label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioEmployeeCup" name="radioCup" data-radio="iradio_square-red" value="1">
                                        <label for="radioEmployeeCup">Employee Cup</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input tabindex="8" type="radio" class="check" id="radioBercaCup" name="radioCup" data-radio="iradio_square-red" value="2">
                                        <label for="radioBercaCup">Berca Cup</label>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label>Milk : </label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNoMilk" name="radioMilk" data-radio="iradio_square-red" value="">
                                        <label for="radioNoMilk">No Milk</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioLessMilk" name="radioMilk" data-radio="iradio_square-red" value="">
                                        <label for="radioLessMilk">Less Milk</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNormalMilk" name="radioMilk" data-radio="iradio_square-red" value="">
                                        <label for="radioNormalMilk">Normal Milk</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Coffee : </label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNoCoffee" name="radioCoffee" data-radio="iradio_square-red" value="">
                                        <label for="radioNoCoffee">No Coffee</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioLessCoffee" name="radioCoffee" data-radio="iradio_square-red" value="">
                                        <label for="radioLessCoffee">Less Coffee</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNormalCoffee" name="radioCoffee" data-radio="iradio_square-red" value="">
                                        <label for="radioNormalCoffee">Normal Coffee</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioExtraShot" name="radioCoffee" data-radio="iradio_square-red" value="">
                                        <label for="radioExtraShot">Extra Shot</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sugar : </label>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNoSugar" name="radioSugar" data-radio="iradio_square-red" value="">
                                        <label for="radioNoSugar">No Sugar</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input tabindex="7" type="radio" class="check" id="radioLessSugar" name="radioSugar" data-radio="iradio_square-red" value="">
                                        <label for="radioLessSugar">Less Sugar</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input tabindex="7" type="radio" class="check" id="radioNormalSugar" name="radioSugar" data-radio="iradio_square-red" value="">
                                        <label for="radioNormalSugar">Normal Sugar</label>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-rounded" onclick="createOrder()">Create Order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row el-element-overlay">
        <div class="col-md-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Tapping Here</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="cardNumber">Card Number :</label>
                            <input type="number" id="cardNumber" class="form-control" placeholder="Min 10 length of numbers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4 class="card-title"><b>Choose Menu</b></h4>
        </div>
        @if (ViewBag.Data != null){
        @foreach (var item in ViewBag.Data)
        {
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img src="@item.imageUrl" alt="user" style="width: 600px; height:200px;" />
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a id="btnCek" class="btn default btn-outline" onclick="clickShowModal('@item.menuName', @item.menuID)"><i class="icon-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h3 class="box-title">@item.menuName</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
        }
    </div>

@section Scripts{
    <script src="~/newtemplate/assets/plugins/magnific-popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/newtemplate/assets/plugins/magnific-popup-master/dist/jquery.magnific-popup-init.js"></script>
    <script src="~/newtemplate/assets/plugins/icheck/icheck.init.js"></script>
    <script src="~/newtemplate/assets/plugins/icheck/icheck.min.js"></script>
    <script src="~/js/orderdashboardjs.js"></script>
    <script src="~/newtemplate/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="~/newtemplate/assets/plugins/sweetalert/sweetalert.min.js"></script>
}