
@{
    ViewData["Title"] = "Employee Report";
    ViewData["Page"] = "Reports";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
    ViewData["Now"] = DateTime.Now.ToString("MM-dd-yyyy");
}
@section css{
    <link href="~/newtemplate/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/newtemplate/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="~/newtemplate/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/newtemplate/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Employee Report</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5 class="box-title m-t-30">Date Filter</h5>
                                    <input class="form-control form-control-line input-daterange-datepicker" type="text" name="daterange" id="dateFilter" value="@ViewData["Now"] - @ViewData["Now"]" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5 class="box-title m-t-30">Employee ID</h5>
                                    <input class="form-control" type="tel" id="employeeId" placeholder="Employee ID"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5 class="box-title m-t-30">Department</h5>
                                    <input class="form-control" type="tel" id="department" placeholder="Department" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="tblEmployeeReport" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Employee Key</th>
                                    <th>Employee Name</th>
                                    <th>Department</th>
                                    <th>Time</th>
                                    <th>Vendor</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/newtemplate/assets/plugins/moment/moment.js"></script>
    <script src="~/newtemplate/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/newtemplate/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/newtemplate/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/newtemplate/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/tableemployeejs.js"></script>
    <script src="~/newtemplate/assets/plugins/datatables/jquery.datatables.min.js"></script>
}