
@{
    ViewData["Title"] = "Report by Employee";
    ViewData["Page"] = "Reports";
    Layout = "~/Pages/Shared/_DashboardLayout.cshtml";
    ViewData["Now"] = DateTime.Now.ToString("MM-dd-yyyy");
}
@section css{
    <link href="~/newtemplate/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/newtemplate/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="~/newtemplate/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/newtemplate/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/newtemplate/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Report by Employee</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h5 class="box-title m-t-30">Date</h5>
                                <input class="form-control form-control-line input-daterange-datepicker" type="text" name="daterange" id="dateFilter" value="@ViewData["Now"] - @ViewData["Now"]" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <h5 class="box-title m-t-30">Department</h5>
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;" id="departmentSelector">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h5 class="box-title m-t-30">Employee ID</h5>
                                <input class="form-control" onClick="this.select();" type="number" min="0" id="employeeId" style="width: 100%; height:36px;" placeholder="Search by Employee ID" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="tblEmployeeReport" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Employee Key</th>
                                    <th>Employee Name</th>
                                    <th>Department</th>
                                    <th>Time</th>
                                    <th>Vendor</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/newtemplate/assets/plugins/moment/moment.js"></script>
    <script src="~/newtemplate/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/newtemplate/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/newtemplate/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/newtemplate/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/newtemplate/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/tableemployeejs.js"></script>
    <script src="~/newtemplate/assets/plugins/datatables/jquery.datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
}